<% tasks.each do |task| %>
    <% if task.persisted? %>
        <tr>
            <td>
                <%= task.task_name %> 
            </td>
            <td>
                <%= task.due_date.strftime("%b %d, %Y") %>
            </td>
            <td>
                <%= link_to icon('fa-solid', 'pen-to-square') , edit_category_task_path(task.category_id,task), class: "btn btn-sm" %>
            </td>
            <td>
                <%= link_to icon('fa-solid', 'trash') , category_task_path(task.category_id, task), data: { turbo_method: :delete,
                        turbo_confirm: "Are you sure?" }, class: "btn btn-sm text-danger" %>
            </td>
            <td>
                <%= link_to icon('fa-solid', 'eye') , category_task_path(task.category_id, task), class: "btn btn-sm" %>
            </td>
        </tr>
    <% end %>
<% end %>